<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">DASHBOARDS</li>
        {{#clusters}}
            <li>
                <a href="/assets/monitor/monitor.html?stream=localhost%3A8080%2Fturbine.stream%3Fcluster%3D{{toString}}">
                    {{toString}}
                </a>
            </li>
        {{/clusters}}
    </ul>
</div>